################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/backend/node_modules
/backend/package-lock.json
/frontend/dist
/frontend/node_modules
/frontend/package-lock.json
/backend/src/.env
*.env
